// Colors
$colorPrimary:#3D9DFF;
$colorSecondary:#FF645A;
$colorTertiary: #b8cc1d;
$colorBlack: #050505;

// Breakpoints
$widthMaxContainer: 1200px;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:400,700&display=swap');
$fontBodyText: 'Source Sans Pro';
$fontTitleText: 'Merriweather';
$fontBodyAudio: 'Source Sans Pro';
$fontTitleAudio: 'Source Sans Pro';